.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  filter: drop-shadow(0 0 10px #333);
}

.App-header {
  background-color: #02B087;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.inputSection {
  display: flex;
}

.inputQuestions {
  background-color: white;
  width: 380px;
  height: 32px;
  box-sizing: border-box;
  margin-bottom: 7px;
  border: none;
  filter: drop-shadow(0 0 3px grey);
}

.submitButton {
  background-color: #144D53;
  width: 30px;
  height: 32px;
  color: white;
  border: none;
}

.listSection {
  min-height: 400px;
  background: #F4F4F4;
  padding: 10px;
}

.taskListing {
  padding: 5px;
  background: #5FBDB0;
  margin-top: 6px;
  color: white;
  filter: none;
  transition: filter 100ms linear;
}

.taskListing:hover {
  filter: drop-shadow(0 0 2px grey);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

