.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  filter: drop-shadow(0 0 10px #333);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #02B087;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inputSection {
}

.submitButton {
  background-color: #144D53;
  width: 100%;
  height: 30px;
  color: white;
  border: none;
}

.inputPrompt {
  animation: input-slide 1s;
}

@keyframes input-slide {
}

.inputQuestions {
  background-color: white;
  width: 380px;
  height: 25px;
  box-sizing: border-box;
  margin-bottom: 7px;
  border: none;
  filter: drop-shadow(0 0 3px grey);
}

.listSection {
  min-height: 400px;
  background: #F4F4F4;
  padding: 10px;
}

.taskListing {
  padding: 5px;
  background: #5FBDB0;
  margin-top: 6px;
  color: white;
  filter: none;
  transition: filter 100ms linear;
}

.taskListing:hover {
  filter: drop-shadow(0 0 2px grey);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

